@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Lato:wght@300&family=Oswald:wght@300&family=Playfair+Display&display=swap');

*{
    margin: 20  ;
    padding: 20 ;
    border: none;}

    
    
#buenos-aires{

    font-size: 70px;
    color: #4b6eac;
    text-decoration: underline;
    letter-spacing: 5px;
    font-family: Playfair Display, serif;
    text-transform:uppercase;
    text-align: center;
    font-weight: 200;
    float: center;
    margin: 20 35 15 35;
    

}

h1,h2 {
    font-size: 50px;
    color: #4b6eac;
    font-family: PlayFair Display,serif;
    

}

h1,h2,h3{
    color: #4b6eac;
    font-family: Playfair Display,sans-serif;
    font-size: 25px;
    font-weight: 200;
    
}

p{
    color: #303031;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 200;
    

}

#menu{
    display: inline;
    letter-spacing: 4px;
    font-size: 100%;
    color:#4b6eac;
    line-height: 80px;
   
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;}

#menu a {
        text-decoration: none;
        color: inherit;
    }
    
#menu a:hover {
        border-bottom: 1px solid;}
footer{
    height: 250px;
    background-color: #303031;

}
.media{
    text-align: center;
}
.media>li{
    display: inline;
    color: #4b6eac;
}
.media i{
font-size: 200%;
margin: 2%;
padding: 5%;
color: #4b6eac
}
