@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Lato:wght@300&family=Oswald:wght@300&family=Playfair+Display&display=swap');



/* Nav bar*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #395a94;
    padding: 10px 20px;
    font-size: 130%;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu li {
    margin: 0 10px;
}

.menu a {
    color: #395a94;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.menu a:hover {
    background-color: #f8ff6d;
}

#menu-toggle {
    display: none;
}

label[for="menu-toggle"] {
    font-size: 45px;
    cursor: pointer;
    display: none;
}

/* headings and image*/

.logo {
    font-size: 50px;
    font-weight: bold;
    font-family: PlayFair Display, sans-serif;
}

span {
    background-color: #f8ff6d;
}


h1 {
    font-size: 50px;
    color: #4b6eac;
    font-family: PlayFair Display, serif;
    font-weight: 200;
    letter-spacing: 3px;
    text-align: center;

}

h2 {
    font-size: 40px;
    color: #34548c;
    font-family: PlayFair Display, serif;
    font-weight: 300;
    letter-spacing: 3px;
    text-align: center;


}

h3 {
    color: #354f7c;
    font-family: PlayFair Display, serif;
    font-size: 30px;
    font-weight: 300;
    text-align: center;




}

p {
    color: #303031;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    line-height: 24px;
    margin: 10px 50px 20px;




}





/*main image*/

#main-image {
    height: 600px;
    width: 100%;
    background-image: url(../images/buenos-aires.webp);
    background-repeat: no-repeat;
    background-position: center;

}

#main-image-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    animation-name: main-zoom;
    animation-duration: 5s;
    animation-fill-mode: backwards;

}

@keyframes main-zoom {
    from {
        transform: scale(1);

    }

    to {
        transform: scale(1.1);

    }
}

#cover-text,
#cover-text h2 {
    color: rgb(255, 252, 216);
    font-family: PlayFair Display, sans-serif;
    font-size: 60px;
    text-align: center;
    text-decoration: none;

}

#cover-text h3 {
    color: rgb(255, 252, 216);
    font-family: Lato, sans-serif;
    font-size: 40px;
    text-align: center;


}

#cover-text {
    font-size: 130%;
    font-family: Lato, sans-serif;

    letter-spacing: 4px;
    text-align: center;
    margin: 0 auto;

    width: 50%;
    height: 450px;
    padding-top: 40px;
    padding-left: 10px;

    background-color: #3030317e;

    bottom: 50px;
    right: 50px;

    position: absolute
}




.media {
    text-align: center;
}

.media>li {
    display: inline;
    color: #4b6eac;
}

.media i {
    font-size: 200%;
    margin: 2%;
    padding: 5%;
    color: #4b6eac
}

#activities {
    height: 600px;
}

hr {
    border: 1px solid #395a94;
    width: 100%;
    margin: 5px 0;
}

section {
    display: flex;
    justify-content: space-evenly;
}

.div-inner-container div {
    width: 30vw;
    text-align: center;
    margin: auto;

}

/*city styling*/

p {
    font-family: Lato, sans-serif;
    font-size: 21px;
    letter-spacing: 2px;
    text-align: center;

}

#puerto-madero {
    background-image: url(../images/city/puerto-madero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;


}

#palermo {
    background-image: url(../images/city/palermo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;


}

#corrientes-st {
    background-image: url(../images/city/corrientes.webp);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;


}

#obelisco {
    background-image: url(../images/city/obelisco.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;

}

#recoleta {
    background-image: url(../images/city/cementerio-recoleta.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;

}

#san-telmo {
    background-image: url(../images/city/san-telmo.webp);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;

}

#casa-rosada {
    background-image: url(../images/city/casarosada.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;

}

#la-boca {
    background-image: url(../images/city/caminito.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;


}

.city {
    font-family: Lato, sans-serif;
    line-height: 25px;
    font-size: 21px;
    float: center;
    clear: both;
    padding: 10px;
    margin: 10px 50px 20px;
    font-weight: 500;
}

#city-menu {
    display: list-item;
    letter-spacing: 2px;
    font-size: 100%;
    color: #2b426a;
    line-height: 75px;
    font-family: PlayFair Display, sans-serif;
    font-weight: 400;

}

#city-menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#city-menu a {
    text-decoration: none;
    color: inherit;
}

#city-menu a:hover {
    border-bottom: 2px solid #2f4872;
}

button {

    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #6b93f1;
    color: #fafafa;
    display: block;
    float: center;
}

button:hover {
    background-color: #fafafa;
    color: #6b93f1;

}

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 2%;
    padding: 5%;
    color: #4b6eac
}

/*culture styling*/
#colon {
    background-image: url(../images/cultural/colon.webp);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
}

#malba {
    background-image: url(../images/cultural/malba.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
}

#nacional {
    background-image: url(../images/cultural/nacional.webp);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
}

#ateneo {
    background-image: url(../images/cultural/ateneo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
}

#tango {
    background-image: url(../images/cultural/b9.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
}

/*food styling*/
#donjulio {
    background-image: url(../images/food/don-julio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;

}

#hierro {
    background-image: url(../images/food/hierro.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;

}

#cabrera {
    background-image: url(../images/food/cabrera.webp);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;

}

#guerrin {
    background-image: url(../images/food/guerrin.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
    width: 100%;

}

#burger {
    background-image: url(../images/food/burgerjoint.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;

}

#obrador {
    background-image: url(../images/food/obrador.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
}

#tufic {
    background-image: url(../images/food/tufic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;

}

/*newsletter styling*/

#nform {
    background-image: url(../images/newsletter/bsas.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
    background-color: #30303115;
    background-repeat: no-repeat;

}

.form-section {
    clear: left;
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #f8ff6d;
    background-color: rgba(60, 60, 60, 0.815);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
    text-decoration: none;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #6b93f1;
}

.join-button {

    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #6b93f1;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #6b93f1;

}

/*for larger to medium screen size from 1200px wide and down*/

@media screen and (max-width:1400px) {


    #activities {
        width: 65%;
        height: 1200px;
        margin: 0 auto;

    }

    #welcome {
        padding: 30px;
        margin: 0;
    }

    #left-about,
    #right-about {
        width: 100%;
        float: left;
        padding: 0;

    }




    hr {
        display: none;
    }
}

/*for medium screen sizes form 950px wide and down*/

@media screen and (max-width:950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;

    }

    #cover-text {
        left: 0;
    }

    #activities {
        width: 90%;
        height: 1200px;
        margin: 0 auto;

    }

    .left-about-heading,
    .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2,
    .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p,
    .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }


}


@media screen and (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .menu li {
        margin: 10px 0;
    }

    #menu-toggle:checked~.menu {
        display: flex;
    }

    label[for="menu-toggle"] {
        display: block;
    }
}